* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

ul {
  margin-left: 30px;
  max-width: 200px;
  height: 60vh;
}

button {
  margin:0 8px;
}