* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.heading {
  margin-top: 80px;
  margin-bottom:20px;
  text-align: center;
}

.container {
    text-align: center;
}

ul {
    margin: 20px auto;
    max-width: 200px;
    height: 60vh;

}

